.artist-item {
    position: relative;
    font-size: 1.6rem;
}

.artist-item::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
}
.artist__name {
    position: absolute;
    bottom: 20%;
    z-index: 3;
}
.artist__followers {
    position: absolute;
    bottom: 13%;
    z-index: 2;
}

.artist__genres {
    position: absolute;
    bottom: 0;
    z-index: 8;
    font-size: 1.4rem;
}

.artist__pic {
    width: 100%;
    height: 100%;
}
