.app-header {
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem 0;
}
.header__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}
.header__list-item {
    margin-right: 1rem;
}
.header__link {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 620px) {
    .app-header {
        font-size: 2.4rem;
    }

    .header__list {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 420px) {
    .header__list {
        font-size: 1.2rem;
        text-transform: none;
        display: block;
    }
}

